---
import { Markup } from "@camome/core/Markup";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import ArrowButtonLink from "@components/ArrowButtonLink";
import Tag from "@components/Tag.astro";
import Datetime from "@components/Datetime";
import type { CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const { title, author, description, ogImage, pubDatetime, tags } = post.data;

const { Content } = await post.render();

const ogUrl = new URL(ogImage ? ogImage : `${title}.svg`, Astro.url.origin)
  .href;
---

<Layout title={title} author={author} description={description} ogImage={ogUrl}>
  <Header />
  <ArrowButtonLink href="/posts" direction="prev" className="back-button">
    All posts
  </ArrowButtonLink>
  <main id="main-content" class="main">
    <h1 class="post-title">{title}</h1>
    <Datetime datetime={pubDatetime} />
    <Markup id="article" className="markup">
      <Content />
    </Markup>
    <aside class="aside">
      <ul class="tags">
        {
          tags.map((tag) => (
            <li>
              <Tag name={tag} />
            </li>
          ))
        }
      </ul>
    </aside>
  </main>
  <Footer />
</Layout>

<style>
  .back-button {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .main {
    padding-bottom: 3rem;
  }
  .post-title {
    font-size: var(--cmm-font-size-4xl);
    font-weight: var(--cmm-font-weight-bold);
    line-height: 1.1;
    margin-bottom: 0.75rem;
  }

  .markup {
    margin-top: 2rem;
  }

  .aside {
    margin-block-start: 2rem;
    padding-block-start: 2rem;
    border-block-start: 1px solid var(--cmm-color-border-base);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
</style>
